header {
  width: 100vw;
  height: 8vh;
  position: relative;
}
.mainHeader {
  position: relative;
}

.logo {
  position: absolute;
  top: 10px;
  left: 20px;
}
.logoicon {
  position: absolute;
  font-size: 24px;
  top: 20px;
  left: 190px;
}
.logo img {
  width: 50px;
}
.logo p {
  font-size: 32px;
  width: 60px;
  position: absolute;
  top: 11px;
  left: 62px;
}

.navsection nav {
  position: absolute;
  left: 30vw;
}

nav ul li a {
  text-decoration: none;
  color: gray;
}
nav ul li {
  font-size: 20px;
  color: gray;
  display: inline-block;
  margin: 25px;
}


.question {
  position: absolute;
  border-radius: 50%;
  font-size: large;
  top: 25px;
  right: 20px;
}

.log {
  padding: 7px 13px;
  border-style: none;
  border-radius: 18px;
  font-size: larger;
  position: absolute;
  top: 18px;
  right: 230px;
  color: white;
  background-color: black;
}
.sign{
  padding: 7px 13px;
  border:.5px solid gray;
  border-radius: 18px;
  font-size: larger;
  position: absolute;
  top: 18px;
  right: 60px;
}

main{
  text-align: center;
  position: relative;
  height: calc(100vh - 8vh);
}

main h1{
  position: absolute;
  top: 28vh;
  left:42vw ;
  font-size: 28px;
}

.inputSection{
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  position: absolute;
  height: 5vw;
  border-radius: 18px;
  top: 35vh;
  left:30vw ;

  width: 43vw;
}
.inputSection input {
  padding: 13px 15px;
  width: 100%;
  border: none;
  border-radius: 18px;
}

.inputSection button {
  padding: 9px 17px;
  border: .2px solid gray;
  border-radius: 18px;
  margin: 0 5px;
}
.rightButtons{
position: absolute;
bottom:10px ;
}
.leftButton{
  font-weight: 900;
position: absolute;
bottom:10px ;
right:-30px ;
}

.inputSection button i {
margin-right: 4px;
}